.container,
.container-cards {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.container {
    height: 500px;
}
.container > img {
    width: 500px;
    height: 400px;
}
.container p {
    text-align: center;
}
.container li {
    font-size: 14px;
    padding: 10px;
    list-style: none;
}
.box,
.box-pop,
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.box,
.box-pop {
    height: 400px;
    width: 250px;
    background-color: rgb(200, 200, 212);
}
.box:hover {
    background-color: antiquewhite;
}
.box-pop:hover {
    transform: scale(1.1);
}
.container-cards {
    height: 400px;
}
.container-cards span {
    width: 300px;
    font-size: 24px;
    font-weight: bolder;
}

.cards {
    height: 300px;
    width: 300px;
}
.cards img {
    width: 300px;
    height: 200px;
}
.trend {
    text-align: center;
}
.trend > p {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20px;
}
.trend > button {
    width: 150px;
    height: 40px;
    background-color: blue;
    border-radius: 130px;
    color: white;
    font-size: 16px;
}

/*this css is for hovering over an image and making text appear i found it online but i really do not know how to use it*/
.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s, visibility 0.2s;
}

.container-cards img:hover .img__description {
    visibility: visible;
    opacity: 1;
}
