.container,
.container-cards {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.container {
    height: 500px;
}
.container > img {
    width: 500px;
    height: 400px;
}
.container p {
    text-align: center;
}
.container li {
    font-size: 14px;
    padding: 10px;
    list-style: none;
}
.box,
.box-pop,
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.box,
.box-pop {
    height: 400px;
    width: 250px;
    background-color: rgb(200, 200, 212);
}
.box:hover {
    background-color: antiquewhite;
}
.box-pop:hover {
    transform: scale(1.1);
}
.container-cards {
    height: 400px;
}
.container-cards span {
    width: 300px;
    font-size: 24px;
    font-weight: bolder;
}
.cards {
    height: 300px;
    width: 300px;
}
.cards img {
    width: 300px;
    height: 200px;
}
