.footer {
    background-color: #1e1e1e;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*i used chatgpt to know this one*/
.footer-column {
    width: 45%;
}

.footer-column h3 {
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: space-center;
}

.footer-links h4 {
    font-weight: bold;
    padding: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
    color: #ddd;
    margin: 10px;
    font-style: initial;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.store-buttons img {
    width: 120px;
    height: auto;
}
