.flex-start {
    justify-content: start;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: end;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}
